/* hw1.css */
/*header {
	background-image: url('../Images/flywheel.jpg');
	background-color: rgb(175, 175, 184);
	margin-top: 40px;
}
h1 {
	color: rgb(255, 255, 255);
	text-align: center;
	text-transform: uppercase;
	display: block;
	background-color: rgb(175, 175, 184);
}
header nav {
	color: rgb(0, 0, 0);
	display: block;
	background-color: rgb(175, 175, 184);
}
a:link {
	color: rgb(0, 0, 0);
}
a:visited {
	color: rgb(0, 0, 0);
}
nav a{
	text-decoration:none;
}
main {
	color: rgb(0, 0, 0);
	background-color: rgb(131, 131, 115);
}
main aside {
	display: none;
}
h2 {
	color: rgb(4, 4, 102);
	text-transform: uppercase;
}
body {
	padding-top:100px;
	padding-left:100px;
	margin-top: 150px;
	margin-left: 100px;
	width: 99%;
}
*/